aes-pkcs5==1.0.4
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.5.2
coloredlogs==15.0.1
cryptography==44.0.0
flatbuffers==24.12.23
humanfriendly==10.0
idna==3.20
mpmath==1.4.1
numpy==2.5.3
onnxruntime==1.30.0
opencv-python-headless==4.10.0.84
packaging==24.2
pillow==11.1.0
protobuf==5.29.3
pycparser==2.22
pyreadline3==3.5.6
requests==2.34.2
sympy==1.14.0
urllib3==2.8.0
